.selection{
    
    background-image: linear-gradient(to right, #d61919,#ca235b,#c2155d);
    
    .title{
        animation: heartbeat 1.2s linear infinite  ;
    }

    &__grid{
        width: 1200px;
        max-width:100%;
        margin: auto;
        display: grid;
        grid-template: 1fr 1fr / 33% 33% 33%;
        grid-row-gap: 10px;;
        padding-bottom: 2rem;
        @media only screen and (max-width: 1024px){
            grid-template: 1fr 1fr 1fr/ 50% 50%;
        }
        @media only screen and (max-width: 768px){
            grid-template: 1fr 1fr 1fr 1fr 1fr 1fr/ 100%;
        }
    }

    &__card{
        max-width:100%;
        padding:1rem;
        &:hover{cursor: pointer;transform: scale(1.03);box-shadow: 0px 5px 25px rgba(255, 255, 255,0.5);border-radius: 10px;;}
    }
    &__image{
            max-width:80%;
            border:2px solid white;
            border-radius: 10px;
            @media screen and (max-width){
                max-width: 95%;
            }
    }

}